<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-autowire="byType">

	<bean id="parent" abstract="true">

	</bean>

	<bean id="child" class="org.wesoft.spring.xml.ChildBean" parent="parent">

	</bean>


	<bean id="userService" class="org.wesoft.spring.constructor.bean.UserService">

	</bean>


	<bean id="testService" class="org.wesoft.spring.xml.TestService">

	</bean>

	<bean id="myService" class="org.wesoft.spring.xml.MyService">

	</bean>

	<bean id="constructService" class="org.wesoft.spring.xml.ConstructService" autowire="constructor">

	</bean>


</beans>